body{
    margin: 0;
    height:500px;
    width: 500px;
    display: flex;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    border-radius: 2px;
}